/* :root{
    --main-color:rgba(243, 236, 236, 0.121);
    --secondary-color:rgb(132, 132, 140);
    --text-color:#333;
    --background-color:#0f0303;

}

body{
    background-color: var(--main-color);
    background-image: url(../assets/images/background2.jpg);

}

header{
    background-color: rgba(95, 83, 83, 0.219);
    width: 100%;
    height: 20vh;
    color: rgb(243, 236, 236);

}

.images img{
    width: 160px;
    height: 190px;

}
.images h1{
    color: rgb(202, 202, 212);
}
.images p{
    color:rgb(202, 202, 212);

}


#About p{
    color: beige;
} */

/* section ul {
    background-image: url(../assets/images/background.webp);
    width: 5000px;
    height: 200px;


} */


*{
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #f4f4f7;
    --secondary-color: #7d787b;
    --text-color: #e4ebf8;
    --background-light: #f4f7fc;
    --white: #424143;
    --shadow: 0 10px 30px rgba(108, 99, 255, 0.15);
}
body {
    background-color: #d1d0d8;
    background-image: url(../assets/images/background3.avif);
    background-size: 1000px;
    background-position: top left;
    background-attachment: fixed;
    color: var(--text-color);
    background-repeat: repeat;

}

header,footer{
    width: 100%;

}

header h1{
    color: var(--main-color);
}

nav b > a{
    color: var(--main-color);
    cursor: pointer;
}

main{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.142);
    border-radius: 0%;
    min-height: 66vh;
}

.images img{
    width: 160px;
    height: 200px;
    border-radius: 80%;
    cursor: grab;
}

.images h1{
    color: var(--secondary-color);
}
.images p{
    color: var(--main-color);
    border-radius: 40px;

}

ul,h2 {
    background: #7d787bef;
    cursor: help;
    color: #424143;
}

section{
    background-color: #7d787b33;
    color: #6e6d6f;

}

footer{
    color: #d1d0d8;

}
a{
    color: #d1d0d8;
    cursor: pointer;
}




